.homepage {
    
}

.headerwrap {
    padding: 20px 0;
    background: #fff;
}
.logo {

}
.logo h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.logo a {
    color: #444;
    text-decoration: none;
}

.main-nav {
    padding: 20px 0 0;
    margin: 0;
    list-style: none;
}
.main-nav li {
    display: inline-block;
    float: right;
    font-weight: 600;
}
.main-nav a {
    color: #444;
}


.hero {
    padding: 80px 0 0;
    align-items: center;
    min-height: 500px;
    background: url('../images/homepage_image.jpg') no-repeat center fixed;
    background-size: cover;
}
.homepage__hero {
    padding: 40px 0;
}
.homepage__hero h1 {
    color: #fff;
    font-weight: 600;
}
.homepage__contentwrap {
    margin: 40px auto 0;
    background: rgba(255,255,255,0.8);
}
.homepage__content {
    padding: 50px 0;
}

.homepage__content-title {
    margin: 20px auto 40px;
}

.homepage__bottom {
    padding: 100px 0;
}

.footer {
    background: #555;
    color: #fff;
}
.footer .copyright {
    padding: 20px 0;
}